/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 17, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***** Mixins ******/
/******** Colors ************/
/******** Colors End *******/
/******** Sass Begins *******/
/* line 50, ../sass/screen.scss */
.background {
  background-image: url(tasveer/fdform.JPG);
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: 100% 100%;
}

/* line 57, ../sass/screen.scss */
.container {
  max-width: 530px;
  min-width: 324px;
  height: auto;
  margin: 50px auto 0;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #cccccc;
}

/* line 67, ../sass/screen.scss */
.header {
  padding: 1.4em 2.5em;
  border-bottom: 1px solid #cccccc;
  background: url(tasveer/fdcover.png) left -80px;
  color: white;
}
/* line 72, ../sass/screen.scss */
.header .h_1 {
  display: inline-block;
  font-weight: 100;
  font-size: 2.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1rem 0;
  padding: 0 0 0.4rem 0;
}
/* line 80, ../sass/screen.scss */
.header .h_2 {
  font-size: 2.0rem;
  margin: 0.5rem 0 0.4rem 0;
}

/* line 86, ../sass/screen.scss */
.body {
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  padding: 0 2.1em;
}
/* line 91, ../sass/screen.scss */
.body .form {
  width: 100%;
  display: block;
}
/* line 94, ../sass/screen.scss */
.body .form .ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 98, ../sass/screen.scss */
.body .form .ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
/* line 105, ../sass/screen.scss */
.body .form .ul .side_left {
  margin: 0;
  padding: 0;
  float: left;
}
/* line 111, ../sass/screen.scss */
.body .form .ul .side_right {
  margin: 0;
  padding: 0;
  float: right;
}
/* line 117, ../sass/screen.scss */
.body .form .ul .Seperator {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
/* line 127, ../sass/screen.scss */
.body .form .ul .email {
  margin: 0;
  padding: 0;
  float: left;
}
/* line 133, ../sass/screen.scss */
.body .form .ul .confirmEmail {
  margin: 0;
  padding: 0;
  float: right;
}
/* line 139, ../sass/screen.scss */
.body .form .ul label {
  padding: 5px 5px;
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 2.2rem;
}
/* line 147, ../sass/screen.scss */
.body .form .ul input {
  margin: 0 0 0.3rem 0;
  border: 1px solid #cccccc;
  padding: 6px 10px;
  color: #555555;
  font-size: 1rem;
}
/* line 155, ../sass/screen.scss */
.body .form .ul textarea {
  border: 1px solid #cccccc;
  padding: 6px 10px;
  width: 100%;
  color: #555555;
}
/* line 162, ../sass/screen.scss */
.body .form .ul .btn {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.74rem 1.5rem;
  margin: 1.5rem 0 0;
  color: white;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
}
/* line 32, ../sass/screen.scss */
.body .form .ul .btn:hover {
  background-color: #bfbfbf;
}
/* line 172, ../sass/screen.scss */
.body .form .ul .btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
/* line 32, ../sass/screen.scss */
.body .form .ul .btn.btn-submit:hover {
  background-color: #5f7db6;
}
