/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* line 17, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*****Mixins*****/
/*****Mixins end*****/
/*****Color*****/
/*****Color ends*****/
/* line 52, ../sass/screen.scss */
body {
  background: url(skulls.png);
  font-family: Orphan, Futura Light, Futura, sans-serif;
  font-size: 4.8vw;
}

/*****css for background video*****/
/* line 58, ../sass/screen.scss */
.video-triangle {
  z-index: -1000;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  position: fixed;
}
@media only screen and (max-width: 600px) {
  /* line 58, ../sass/screen.scss */
  .video-triangle {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 920px) {
  /* line 58, ../sass/screen.scss */
  .video-triangle {
    width: auto;
    height: auto;
  }
}

/*****css for background video ends*****/
/*****keyframes*****/
@keyframes bob {
  /* line 28, ../sass/screen.scss */
  0% {
    transform: translateY(-50%);
  }

  /* line 29, ../sass/screen.scss */
  100% {
    transform: translateY(-220%);
  }
}

@-webkit-keyframes bob {
  /* line 32, ../sass/screen.scss */
  0% {
    -webkit-transform: translateY(-50%);
  }

  /* line 33, ../sass/screen.scss */
  100% {
    -webkit-transform: translateY(-220%);
  }
}

@keyframes bob1 {
  /* line 28, ../sass/screen.scss */
  0% {
    transform: translateY(-100%);
  }

  /* line 29, ../sass/screen.scss */
  100% {
    transform: translateY(-180%);
  }
}

@-webkit-keyframes bob1 {
  /* line 32, ../sass/screen.scss */
  0% {
    -webkit-transform: translateY(-100%);
  }

  /* line 33, ../sass/screen.scss */
  100% {
    -webkit-transform: translateY(-180%);
  }
}

/*****keyframes end*****/
/*****Parent class for all FEEDBACK squares*****/
/* line 75, ../sass/screen.scss */
.feedback, .fb1, .fb2, .fb3, .fb4, .fb5, .fb6, .fb7, .fb8 {
  width: 6%;
  height: 15%;
  float: left;
  position: absolute;
  border-radius: 5%;
  bottom: 10px;
  background: linear-gradient(#ff6059, #f7467b);
}
@media only screen and (max-width: 600px) {
  /* line 75, ../sass/screen.scss */
  .feedback, .fb1, .fb2, .fb3, .fb4, .fb5, .fb6, .fb7, .fb8 {
    display: none;
  }
}
/* line 84, ../sass/screen.scss */
.feedback h1, .fb1 h1, .fb2 h1, .fb3 h1, .fb4 h1, .fb5 h1, .fb6 h1, .fb7 h1, .fb8 h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 6rem;
  color: #111111;
}
@media only screen and (max-width: 920px) {
  /* line 84, ../sass/screen.scss */
  .feedback h1, .fb1 h1, .fb2 h1, .fb3 h1, .fb4 h1, .fb5 h1, .fb6 h1, .fb7 h1, .fb8 h1 {
    font-size: 4rem;
    padding-top: 1.5rem;
  }
}

/*****Parent class for all FEEDBACK squares ends*****/
/*****Individual classes for FEEDBACK squares*****/
/* line 94, ../sass/screen.scss */
.fb1 {
  left: 1%;
  animation: bob1 7s ease-in-out infinite alternate;
  -webkit-animation: bob1 7s ease-in-out infinite alternate;
}

/* line 99, ../sass/screen.scss */
.fb2 {
  left: 8%;
  animation: bob 7s ease-in-out infinite alternate;
  -webkit-animation: bob 7s ease-in-out infinite alternate;
}

/* line 104, ../sass/screen.scss */
.fb3 {
  left: 15%;
  animation: bob1 7s ease-in-out infinite alternate;
  -webkit-animation: bob1 7s ease-in-out infinite alternate;
}

/* line 109, ../sass/screen.scss */
.fb4 {
  left: 22%;
  animation: bob 7s ease-in-out infinite alternate;
  -webkit-animation: bob 7s ease-in-out infinite alternate;
}

/* line 114, ../sass/screen.scss */
.fb5 {
  left: 29%;
  animation: bob1 7s ease-in-out infinite alternate;
  -webkit-animation: bob1 7s ease-in-out infinite alternate;
}

/* line 119, ../sass/screen.scss */
.fb6 {
  left: 36%;
  animation: bob 7s ease-in-out infinite alternate;
  -webkit-animation: bob 7s ease-in-out infinite alternate;
}

/* line 124, ../sass/screen.scss */
.fb7 {
  left: 43%;
  animation: bob1 7s ease-in-out infinite alternate;
  -webkit-animation: bob1 7s ease-in-out infinite alternate;
}

/* line 129, ../sass/screen.scss */
.fb8 {
  left: 50%;
  animation: bob 7s ease-in-out infinite alternate;
  -webkit-animation: bob 7s ease-in-out infinite alternate;
}

/*****Individual classes for FEEDBACK squares ends*****/
/*****Class for the text "Would like your"*****/
/* line 136, ../sass/screen.scss */
.line, .success {
  width: 40%;
  height: auto;
  position: absolute;
  left: 10%;
  top: 30%;
  color: ffffff;
  text-align: center;
}
/* line 144, ../sass/screen.scss */
.line .lineheading, .success .lineheading {
  font-family: Orphan, Futura Light, Futura, sans-serif;
  font-size: 6rem;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0 5 2px #000008;
}
@media only screen and (max-width: 920px) {
  /* line 144, ../sass/screen.scss */
  .line .lineheading, .success .lineheading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 136, ../sass/screen.scss */
  .line, .success {
    visibility: hidden;
  }
}
@media only screen and (max-width: 920px) {
  /* line 136, ../sass/screen.scss */
  .line, .success {
    width: 200px;
    height: 100px;
    left: 20%;
  }
}

/*****CLass for text "Would like your ends*****/
/*****Classes for feedback success page*****/
/* line 158, ../sass/screen.scss */
.success {
  left: 15%;
  width: 70%;
  height: 40%;
}
@media only screen and (max-width: 920px) {
  /* line 158, ../sass/screen.scss */
  .success {
    width: 400px;
    height: 150px;
    left: 20%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 158, ../sass/screen.scss */
  .success {
    visibility: visible;
  }
}

/*****Classes for feedback success page ends*****/
/*****CSS for Outer div of the form*****/
/* line 168, ../sass/screen.scss */
.form-div {
  background-color: rgba(200, 200, 200, 0.4);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 32%;
  height: 550px;
  right: 20px;
  position: absolute;
  top: 100px;
  margin-left: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  /* line 168, ../sass/screen.scss */
  .form-div {
    left: 8%;
    margin-right: 6%;
    width: 78%;
    height: 500x;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/*****CSS for Outer div of the form ends*****/
/*****Common class for all input fields*****/
/* line 192, ../sass/screen.scss */
.feedback-input, .name, .name:focus, .email, .email:focus, .comment, .comment:focus {
  color: #37b689;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0);
}

/* line 205, ../sass/screen.scss */
.feedback-input:focus, .name:focus, .email:focus, .comment:focus {
  background: white;
  box-shadow: 0;
  border: 3px solid #37b689;
  color: #37b689;
  outline: none;
  padding: 13px 13px 13px 54px;
}

/*Common class for all input fields ends*****/
/*****Individual classes for input fields*****/
/* line 215, ../sass/screen.scss */
.icons, .name, .name:focus, .email, .email:focus, .comment, .comment:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

/* line 220, ../sass/screen.scss */
.name, .name:focus {
  background-image: url(tasveer/name.svg);
  height: 13%;
}

/* line 226, ../sass/screen.scss */
.email, .email:focus {
  background-image: url(tasveer/email.svg);
  height: 13%;
}

/* line 232, ../sass/screen.scss */
.comment, .comment:focus {
  background-image: url(tasveer/comment.svg);
  height: 45%;
}

/* line 238, ../sass/screen.scss */
textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

/* line 246, ../sass/screen.scss */
input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

/* line 250, ../sass/screen.scss */
.button-blue {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #37b689;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -4px;
  font-weight: 700;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
/* line 264, ../sass/screen.scss */
.button-blue:hover {
  background: white;
  color: #37b689;
}

/* line 269, ../sass/screen.scss */
.submit {
  background: white;
}

/* line 273, ../sass/screen.scss */
.submit:hover {
  color: #37b689;
}

/*****Idividual classes for input fields ends*****/
@font-face {
  font-family: Orphan;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/orphan_2.woff") format("woff");
  font-weight: normal;
  font-weight: 100;
  font-style: normal;
}
