/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 17, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***** Mixins ******/
/***** Colors *******/
/***** Color-Ends *****/
/***************** SASSY BEGINS ***************/
/******* Header *********/
/* line 48, ../sass/screen.scss */
.header {
  height: 30%;
  background: #52adda;
}
@media only screen and (max-width: 820px) {
  /* line 48, ../sass/screen.scss */
  .header {
    height: 32%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 48, ../sass/screen.scss */
  .header {
    height: 23%;
  }
}
/* line 53, ../sass/screen.scss */
.header .heading1 {
  padding-top: 6.5rem;
  text-align: center;
  font-size: 9rem;
  font-weight: 23px;
  font-family: Pacifico;
  color: #333333;
}
@media only screen and (max-width: 820px) {
  /* line 53, ../sass/screen.scss */
  .header .heading1 {
    padding-top: 11rem;
    font-size: 6rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 53, ../sass/screen.scss */
  .header .heading1 {
    padding-top: 6rem;
    font-size: 6rem;
    font-weight: 15px;
  }
}

/******* Header Over *********/
/***** Parent Code *********/
/* line 69, ../sass/screen.scss */
.input, .performa .firstname, .performa .middlename, .performa .lastname, .performa .fathername, .performa .mothername, .performa .dob, .performa .telephone, .performa .postalcode, .performa .address {
  background: transparent;
  font-size: 2.1rem;
  text-align: center;
  line-height: 3;
  border: 5px solid transparent;
  width: 80%;
  height: 12.3%;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 820px) {
  /* line 69, ../sass/screen.scss */
  .input, .performa .firstname, .performa .middlename, .performa .lastname, .performa .fathername, .performa .mothername, .performa .dob, .performa .telephone, .performa .postalcode, .performa .address {
    text-align: left;
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 69, ../sass/screen.scss */
  .input, .performa .firstname, .performa .middlename, .performa .lastname, .performa .fathername, .performa .mothername, .performa .dob, .performa .telephone, .performa .postalcode, .performa .address {
    text-align: left;
  }
}

/* line 83, ../sass/screen.scss */
.container {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  /* line 83, ../sass/screen.scss */
  .container {
    min-height: 400px;
  }
}

/* line 88, ../sass/screen.scss */
.s_data {
  padding-top: 30px;
}

/* line 92, ../sass/screen.scss */
.shrink {
  max-width: 1200px;
  margin: auto;
}

/* line 97, ../sass/screen.scss */
.content {
  width: 50%;
  float: left;
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  /* line 97, ../sass/screen.scss */
  .content {
    width: 90%;
    clear: both;
  }
}

/* line 104, ../sass/screen.scss */
h2.name {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  color: #222222;
  padding-bottom: 3px;
  margin-bottom: 1px;
}

/******* Parent ends *******/
/*** Removal of this create red border on every field
whosesoever contain "required" 
****/
/* line 120, ../sass/screen.scss */
[required] {
  color: #222222;
  box-shadow: none;
}

/*** Performa ****/
/* line 127, ../sass/screen.scss */
.performa {
  background: transparent;
  height: 100%;
  width: 100%;
}
/* line 168, ../sass/screen.scss */
.performa .submit {
  font-size: 2.1rem;
  background: #52adda;
  border: 0;
  width: 250px;
  height: 60px;
  border-radius: 3px;
  color: white;
  curson: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
/* line 178, ../sass/screen.scss */
.performa .submit:hover {
  background: #222222;
}

/**** Angular ****/
/* line 186, ../sass/screen.scss */
.angular {
  margin-left: 10px;
  float: left;
  height: 100%;
  width: 43%;
}
@media only screen and (max-width: 600px) {
  /* line 186, ../sass/screen.scss */
  .angular {
    display: none;
  }
}
/* line 193, ../sass/screen.scss */
.angular .first_name {
  padding-top: 2rem;
  text-align: left;
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}
/* line 201, ../sass/screen.scss */
.angular .middle_name {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}
/* line 207, ../sass/screen.scss */
.angular .last_name {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
  padding-bottom: 2rem;
}
/* line 214, ../sass/screen.scss */
.angular .father_name {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}
/* line 220, ../sass/screen.scss */
.angular .mother_name {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
  padding-bottom: 2rem;
}
/* line 227, ../sass/screen.scss */
.angular .d_o_b {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}
/* line 233, ../sass/screen.scss */
.angular .ph_no {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}
/* line 239, ../sass/screen.scss */
.angular .postal_code {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}
/* line 245, ../sass/screen.scss */
.angular .add {
  text-align: left;
  font-size: 2.2rem;
  margin-left: 4rem;
}

/**** Angular Over ****/
/******** Thank you *******/
/* line 257, ../sass/screen.scss */
.container1 {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  /* line 257, ../sass/screen.scss */
  .container1 {
    min-height: 400px;
  }
}

/* line 262, ../sass/screen.scss */
.s_data1 {
  padding-top: 30px;
}

/* line 266, ../sass/screen.scss */
.shrink1 {
  max-width: 1200px;
  margin: auto;
}

/* line 272, ../sass/screen.scss */
.textarea .heading2 {
  font-family: Pacifico;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 350;
  padding-top: 7.2rem;
}

/******** Thank you over *******/
