/* Welcome to Compass.
/ * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 17, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***** Mixins ******/
/***** Colors *******/
/***** Color-Ends *****/
/***************** SASSY BEGINS ***************/
/* line 52, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}
/* line 55, ../sass/screen.scss */
a:hover {
  text-shadow: 1px 1px 1px #aaaaaa;
}

/* line 59, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 64, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
@media only screen and (max-width: 600px) {
  /* line 64, ../sass/screen.scss */
  body {
    overflow-x: hidden;
  }
}

/* line 70, ../sass/screen.scss */
*:focus {
  outline: 0;
}

/* line 75, ../sass/screen.scss */
::selection {
  background-color: #222222;
  color: #fafafa;
}

/* line 81, ../sass/screen.scss */
::-moz-selection {
  background-color: #222222;
  color: #fafafa;
}

/***** Container ****/
/* line 88, ../sass/screen.scss */
.container {
  min-height: 595px;
}

/***** Header *****/
/* line 95, ../sass/screen.scss */
.head {
  background: #222222;
  width: 100%;
  min-height: 50px;
  top: 0;
  z-index: 1100;
  position: absolute;
  box-shadow: 0px 2px 3px #333333;
  -webkit-box-shadow: 0px 2px 3px #333333;
  -moz-box-shadow: 0px 2px 3px #333333;
  box-shadow: 0px 2px 3px #333333;
}
@media only screen and (max-width: 600px) {
  /* line 95, ../sass/screen.scss */
  .head {
    position: absolute;
  }
}

/**** Header End *****/
/* line 109, ../sass/screen.scss */
.navbar {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
/* line 114, ../sass/screen.scss */
.navbar .unlist li {
  float: left;
  width: 18.5%;
  text-align: center;
  line-height: 50px;
  font-size: 1.6rem;
  border-bottom: 2px solid #222222;
}
/* line 121, ../sass/screen.scss */
.navbar .unlist li:hover {
  border-bottom: 2px solid #52adda;
}
@media only screen and (max-width: 820px) {
  /* line 114, ../sass/screen.scss */
  .navbar .unlist li {
    font-size: 1.3rem;
    width: 33%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 114, ../sass/screen.scss */
  .navbar .unlist li {
    display: none;
  }
}

/* line 129, ../sass/screen.scss */
.bt-menu {
  font-size: 1.6rem;
  line-height: 50px;
  display: none;
  border: none;
}
@media only screen and (max-width: 600px) {
  /* line 129, ../sass/screen.scss */
  .bt-menu {
    display: block;
  }
}

/* line 137, ../sass/screen.scss */
.icons {
  width: 16px;
}

/* line 141, ../sass/screen.scss */
.video-triangle {
  z-index: -1000;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  position: fixed;
}
@media only screen and (max-width: 600px) {
  /* line 141, ../sass/screen.scss */
  .video-triangle {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 820px) {
  /* line 141, ../sass/screen.scss */
  .video-triangle {
    width: auto;
    height: auto;
  }
}

/***** SLIDES GOES FROM HERE *****/
/**************** SLIDE 1 ******************/
/* line 158, ../sass/screen.scss */
.slide1 {
  height: 100%;
  border-bottom: 1px dashed #222222;
}
@media only screen and (max-width: 600px) {
  /* line 158, ../sass/screen.scss */
  .slide1 {
    background-image: url(tasveer/black.jpg);
    width: 100%;
    height: 100%;
  }
}
/* line 162, ../sass/screen.scss */
.slide1 .s1sec {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.90;
}
/* line 174, ../sass/screen.scss */
.slide1 .s1div:nth-child(odd) {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  background: -webkit-linear-gradient(bottom, #40f4ac 0%, #450bb3 100%);
  background: -o-linear-gradient(bottom, #40f4ac 0%, #450bb3 100%);
  background: -moz-linear-gradient(bottom, #40f4ac 0%, #450bb3 100%);
  background: linear-gradient(to bottom, #40f4ac 0%, #450bb3 100%);
  height: 182%;
  width: 58%;
  float: left;
  margin-top: -20%;
  margin-left: -23%;
}
@media only screen and (max-width: 600px) {
  /* line 174, ../sass/screen.scss */
  .slide1 .s1div:nth-child(odd) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-left: -10%;
  }
}
/* line 188, ../sass/screen.scss */
.slide1 .s1div:nth-child(even) {
  height: 100%;
  width: 39%;
  float: right;
}
/* line 193, ../sass/screen.scss */
.slide1 .s1Heading {
  padding-top: 10rem;
  color: #fafafa;
  text-align: center;
  font-size: 10rem;
}
/* line 199, ../sass/screen.scss */
.slide1 .img1 {
  width: 44%;
  height: 75%;
  float: right;
  padding-top: 14rem;
  margin-right: 5rem;
}
@media only screen and (max-width: 820px) {
  /* line 199, ../sass/screen.scss */
  .slide1 .img1 {
    float: right;
    width: 42%;
    height: 70%;
    margin-top: 4rem;
    padding-top: 19rem;
    margin-right: 1.6rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 199, ../sass/screen.scss */
  .slide1 .img1 {
    float: right;
    width: 50%;
    height: 68%;
    margin-top: 2rem;
    padding-top: 16rem;
    margin-right: 0.2rem;
  }
}

/*************** SLIDE 1 OVER **************/
/**************** SLIDE 2 ******************/
/* line 218, ../sass/screen.scss */
.slide2 {
  height: 100%;
  border-bottom: 1px dashed #222222;
}
/* line 222, ../sass/screen.scss */
.slide2 .text2 {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url(tasveer/slide2_2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
/* line 231, ../sass/screen.scss */
.slide2 .text2 .slide2-description {
  width: 100%;
  height: 100%;
  font-size: 70px;
  color: #0099ff;
  font-weight: 400;
  text-align: center;
  font-style: condensed;
  margin-top: 15rem;
  padding-top: 2rem;
}
@media only screen and (max-width: 820px) {
  /* line 231, ../sass/screen.scss */
  .slide2 .text2 .slide2-description {
    padding-top: 9rem;
    font-size: 45px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 231, ../sass/screen.scss */
  .slide2 .text2 .slide2-description {
    padding-top: 2em;
    font-size: 34px;
  }
}

/************** SLIDE 2 OVER ***************/
/************** SLIDE 3 ***************/
/* line 252, ../sass/screen.scss */
.shrink {
  max-width: 1200px;
  margin: auto;
}

/* line 257, ../sass/screen.scss */
.s_data {
  padding-top: 15px;
}

/* line 261, ../sass/screen.scss */
.content {
  width: 50%;
  float: left;
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  /* line 261, ../sass/screen.scss */
  .content {
    width: 90%;
    clear: both;
  }
}

/* line 268, ../sass/screen.scss */
.slide3 {
  height: auto;
  border-bottom: 1px dashed #222222;
  font-weight: 400;
}
@media only screen and (max-width: 820px) {
  /* line 268, ../sass/screen.scss */
  .slide3 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  /* line 268, ../sass/screen.scss */
  .slide3 {
    display: none;
  }
}
/* line 275, ../sass/screen.scss */
.slide3 .slide3heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  color: #68b8df;
}
/* line 282, ../sass/screen.scss */
.slide3 .turnpages {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 2rem;
  color: #68b8df;
}
/* line 289, ../sass/screen.scss */
.slide3 .magzinetext {
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto;
  color: #fafafa;
  z-index: 2000;
}
/* line 298, ../sass/screen.scss */
.slide3 .magazine {
  float: right;
  display: inline-block;
  height: 500px;
  width: 800px;
  margin: 80px 20rem 10px;
}
@media only screen and (max-width: 820px) {
  /* line 298, ../sass/screen.scss */
  .slide3 .magazine {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  /* line 298, ../sass/screen.scss */
  .slide3 .magazine {
    display: none;
  }
}
/* line 308, ../sass/screen.scss */
.slide3 .magazine .turn-page {
  background-color: #333333;
  background-size: 100% 100%;
}

/************** SLIDE 3 OVER ***************/
/************** SLIDE 4  ***************/
/* line 318, ../sass/screen.scss */
.slide4 {
  height: auto;
  border-bottom: 1px dashed #222222;
}
@media only screen and (max-width: 600px) {
  /* line 318, ../sass/screen.scss */
  .slide4 {
    background-image: url(tasveer/black.jpg);
    width: 100%;
    height: auto;
  }
}
/* line 323, ../sass/screen.scss */
.slide4 .teamHeading {
  color: #fafafa;
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
}
@media only screen and (max-width: 600px) {
  /* line 323, ../sass/screen.scss */
  .slide4 .teamHeading {
    font-size: 5rem;
  }
}
/* line 331, ../sass/screen.scss */
.slide4 .teamline {
  text-align: center;
  color: #fafafa;
  font-size: 3.5rem;
}
@media only screen and (max-width: 820px) {
  /* line 331, ../sass/screen.scss */
  .slide4 .teamline {
    font-size: 3rem;
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 331, ../sass/screen.scss */
  .slide4 .teamline {
    font-size: 2rem;
    padding-top: 0.7rem;
  }
}
/* line 339, ../sass/screen.scss */
.slide4 .team {
  margin: 20px 0 0 0;
  padding: 50px;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
/* line 348, ../sass/screen.scss */
.slide4 .team:after, .slide4 .teams:before {
  content: '';
  display: table;
}
/* line 353, ../sass/screen.scss */
.slide4 .team:after {
  clear: both;
}
/* line 357, ../sass/screen.scss */
.slide4 .team li {
  width: 240px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}
@media only screen and (max-width: 820px) {
  /* line 357, ../sass/screen.scss */
  .slide4 .team li {
    width: 200px;
    height: 200px;
  }
}
/* line 365, ../sass/screen.scss */
.slide4 .teams {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 374, ../sass/screen.scss */
.slide4 .image1 {
  background-image: url(tasveer/hsrai.jpg);
  background-size: 253px 230px;
}
@media only screen and (max-width: 820px) {
  /* line 374, ../sass/screen.scss */
  .slide4 .image1 {
    background-size: 217px 239px;
  }
}
/* line 380, ../sass/screen.scss */
.slide4 .image2 {
  background-image: url(tasveer/dk1.JPG);
  background-size: 253px 230px;
}
@media only screen and (max-width: 820px) {
  /* line 380, ../sass/screen.scss */
  .slide4 .image2 {
    background-size: 217px 239px;
  }
}
/* line 386, ../sass/screen.scss */
.slide4 .image3 {
  background-image: url(tasveer/satwant.JPG);
  background-size: 253px 230px;
}
@media only screen and (max-width: 820px) {
  /* line 386, ../sass/screen.scss */
  .slide4 .image3 {
    background-size: 217px 239px;
  }
}
/* line 392, ../sass/screen.scss */
.slide4 .image4 {
  background-image: url(tasveer/ravina.jpg);
  background-size: 253px 230px;
}
@media only screen and (max-width: 820px) {
  /* line 392, ../sass/screen.scss */
  .slide4 .image4 {
    background-size: 217px 239px;
  }
}
/* line 398, ../sass/screen.scss */
.slide4 .image5 {
  background-image: url(tasveer/dubey.jpg);
  background-size: 240px 220px;
}
@media only screen and (max-width: 820px) {
  /* line 398, ../sass/screen.scss */
  .slide4 .image5 {
    background-size: 217px 239px;
  }
}
/* line 404, ../sass/screen.scss */
.slide4 .description {
  position: absolute;
  background: rgba(63, 147, 147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
/* line 416, ../sass/screen.scss */
.slide4 .description h3 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 22px;
  margin: 10px 30px;
  padding: 45px 0 0 0;
  height: 100px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 427, ../sass/screen.scss */
.slide4 .description p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}
/* line 438, ../sass/screen.scss */
.slide4 .description p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
/* line 451, ../sass/screen.scss */
.slide4 .description p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8);
}
/* line 456, ../sass/screen.scss */
.slide4 .teams:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 460, ../sass/screen.scss */
.slide4 .teams:hover .description {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* line 465, ../sass/screen.scss */
.slide4 .teams:hover .description p {
  opacity: 1;
}

/************** SLIDE 4 OVER ***********/
/********* Slide 5 **********/
/* line 473, ../sass/screen.scss */
.slide5 {
  height: auto;
}
/* line 477, ../sass/screen.scss */
.slide5 .picture {
  height: 550px;
  background-image: url(tasveer/gne2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 483, ../sass/screen.scss */
.slide5 .picture .picture-text {
  padding-top: 90px;
  width: 100%;
  height: auto;
}
/* line 490, ../sass/screen.scss */
.slide5 footer {
  padding-top: 60px;
  min-height: 100px;
  background: #333333;
}
/* line 496, ../sass/screen.scss */
.slide5 .footer-text {
  padding: 15px 15px;
  color: #c9c9c9;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

/********* Slide 5 over **********/
