/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***** Mixins ******/
/***** Colors *******/
/***** Color-Ends *****/
/**** Sassy Begins *****/
/* line 38, ../sass/screen.scss */
.canvas {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 780px;
}

/* line 45, ../sass/screen.scss */
.area {
  margin: 0 auto 20px auto;
  border-radius: 3px;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.5);
}

/* line 51, ../sass/screen.scss */
input {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 2rem;
  text-align: center;
  color: white;
  border: none;
  padding: 16px 13px;
}

/* line 62, ../sass/screen.scss */
input[type=submit] {
  margin-left: 7.5rem;
  width: 70%;
  background: #ca3435;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
@media only screen and (max-width: 600px) {
  /* line 62, ../sass/screen.scss */
  input[type=submit] {
    margin-left: 4.8rem;
  }
}
/* line 70, ../sass/screen.scss */
input[type=submit]:hover {
  background: rgba(202, 52, 53, 0.9);
}

/* line 75, ../sass/screen.scss */
.container {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}
/* line 80, ../sass/screen.scss */
.container .signin {
  width: 500px;
  height: 50%;
  margin: 10vh auto 0 auto;
  padding: 0 1.7rem;
}
@media only screen and (max-width: 600px) {
  /* line 80, ../sass/screen.scss */
  .container .signin {
    width: 350px;
    height: 40%;
  }
}
/* line 87, ../sass/screen.scss */
.container .signin .heading1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 8rem;
  letter-spacing: 1.59rem;
  font-weight: 400;
  padding: 33px 0;
  font-family: FontAwesome;
}
@media only screen and (max-width: 820px) {
  /* line 87, ../sass/screen.scss */
  .container .signin .heading1 {
    font-size: 7.15rem;
    letter-spacing: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 87, ../sass/screen.scss */
  .container .signin .heading1 {
    font-size: 4.15rem;
    letter-spacing: 1rem;
  }
}
/* line 100, ../sass/screen.scss */
.container .signin .footer {
  width: 300px;
  margin: 0 auto;
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border-top: 15px solid;
  text-align: center;
}
/* line 107, ../sass/screen.scss */
.container .signin .footer .p1 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: FontAwesome;
}
/* line 115, ../sass/screen.scss */
.container .signin .forget {
  font-family: FontAwesome;
  font-size: 1.4em;
  text-align: center;
  margin: 30px 0;
}

/***** Sassy Ends ******/
/****** Validation error *****/
/* line 128, ../sass/screen.scss */
.error {
  color: white;
  padding: 1rem;
}

/****** Validation error Over *****/
