/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@mixin breakpoint($point) {
    @if $point == small {
        @media  only screen
            and (max-width: 600px)  { @content; }
}
@else if $point == medium {
    @media only screen
        and (max-width: 820px) { @content; }
}
@else if $point == larger {
    @media only screen
        and (max-width: 1100px)  { @content; }
  }
}

body {
    background:url("skulls.png");
    font-family: Orphan, Futura Light, Futura, sans-serif;
    font-size: 4.8vw;

}

@keyframes bob {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(-180%); }
}


@keyframes bob1 {
  0%   { transform: translateY(-50%); }
  100% { transform: translateY(-220%); }
}
@-webkit-keyframes bob {
  0%   { -webkit-transform: translateY(-100%); }
  100% { -webkit-transform: translateY(-180%); }
}


@-webkit-keyframes bob1 {
  0%   { -webkit-transform: translateY(-50%); }
  100% { -webkit-transform: translateY(-220%); }
}
.feedback {
    width: 6%;
    height:15%;
    float:left;
    border-radius:5%;
    bottom:10px;
    @include breakpoint(small){display:none;}
    @include breakpoint(medium){display:none;}
   h1 {
    text-align:center;
    padding-top:3%;
    padding-left:3%;
    font-size:50px;
    color:#222222;
    }
}
#t0 {
    left:1%;
    position:absolute;
    background: #629AC7;
    animation: bob1 7s ease-in-out infinite alternate;
    -webkit-animation: bob1 7s ease-in-out infinite alternate;
}
#t1 {
    left:8%;
    position:absolute;
    background: #90BBDB;
    animation: bob 7s ease-in-out infinite alternate;
    -webkit-animation: bob 7s ease-in-out infinite alternate;
}
#t2 {
    left:15%;
    position:absolute;
    background: #088BE2;
    animation: bob1 7s ease-in-out infinite alternate;
    -webkit-animation: bob1 7s ease-in-out infinite alternate;
}
#t3 {
    left:22%;
    position:absolute;
    background: #1290DA;
    animation: bob 7s ease-in-out infinite alternate;
    -webkit-animation: bob 7s ease-in-out infinite alternate;
}
#t4 {
    left:29%;
    position:absolute;
    background: #9A8AE0;
    animation: bob1 7s ease-in-out infinite alternate;
    -webkit-animation: bob1 7s ease-in-out infinite alternate;
}
#t5 {
    left:36%;
    position:absolute;
    background: #1896FB;
    animation: bob 7s ease-in-out infinite alternate;
    -webkit-animation: bob 7s ease-in-out infinite alternate;
}
#t6 {
    left:43%;
    position:absolute;
    background: #EBDCBF;
    animation: bob1 7s ease-in-out infinite alternate;
    -webkit-animation: bob1 7s ease-in-out infinite alternate;
}
#t7 {
    left:50%;
    position:absolute;
    background: #EB97B7;
    animation: bob 7s ease-in-out infinite alternate;
   -webkit-animation: bob 7s ease-in-out infinite alternate;
}
.side {
    width: 10%;
    height: 6%;
    background: orange;
    float: top;
    border-radius: 5%;
    left: 10px;
    display: none;
    font-size: 10px;
    @include breakpoint(small){opacity:0;}
    @include breakpoint(medium){display:inline;}
    h1 {
        text-align:center;
        padding-top:0px;
        font-size:25px;
    }
}
#s0 {
  top: 15%;
  position: absolute;
  /*background: #629AC7;*/
}
#s1 {
  top: 22%;
  position: absolute;
/*  background: #90BBDB;*/
}
#s2 {
  top: 29%;
  position: absolute;
  /*background: #088BE2;*/
}
#s3 {
  top: 36%;
/*  background: #1290DA*/;
  position: absolute;
}
#s4 {
  top: 43%;
  /*background: #9A8AE0;*/
  position: absolute;
}
#s5 {
  top: 50%;
  position: absolute;
/*  background: #1896FB;*/
}
#s6 {
  top: 57%;
  position: absolute;
  /*background: #EBDCBF;*/
}
#s7 {
  top: 64%;
  position: absolute;
/*  background: #EB97B7;*/
}

.line {
    width:400px;
    height:100px;
    position:absolute;
    left:10%;
    top:20%;
    color:ffffff;
    text-align:center;
    .lineheading {
        font-size:50px;
        padding-top:7px;
        text-transform: uppercase;
        font-weight: normal;
        text-shadow: 0 5 2px rgba(0,0,8,1);
    }
    @include breakpoint(small) {visibility:hidden;}
    @include breakpoint(medium) {width:200px; height:100px;left:20%;}
}
.success {
    @extend .line;
    left:15%;
    width:70%;
    height:40%;
    @include breakpoint(medium) {width:400px; height:150px;left:20%;}
    @include breakpoint(small) {visibility:visible;}
}
#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
        padding-bottom:5%;
	width: 30%;
        height:70%;
	float: left;
        right:20px;
	position: absolute;
        margin-top:30px;
	margin-left: 100px;
       -moz-border-radius: 7px;
       -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
@font-face {
    font-family: Orphan;
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/orphan_2.woff') format('woff');
    font-weight: normal;
    font-weight: 100;
    font-style: normal;
}
html {
  font-family: Orphan, Futura Light, Futura, sans-serif;
}

